body {
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border {
  border: 5px solid blue;
}

.callout-wrapper {
  padding: 15px;
}

.callout-wrapper > div {
  margin: 15px 0;
}

.callout-email {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #eee;
  padding: 0 15px 15px;
}
